
/* Global styles */
html{
    font-size: 16px;
    color: #4A4A4A;
    font-family: 'Raleway', sans-serif;
}

.logo{
    color:black;
    margin-left: 24px;
    display: flex;
    align-items: center;

}
span strong{
    font-weight: bold;

}
h1{
    line-height: 2.5rem;
    font-weight: bold;
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
    font-weight: bold;
}
h3{
    font-size: 1rem;
    font-weight: bold;
    color: #4A4A4A;
}


p{
    font-size: 0.82rem;
    font-weight: 600;
}
/* Global styles end*/



/* Header section */
header{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    margin-right: 24px;
}
nav span{
    margin: 0 1rem;
}

.title{
    text-align: center;
    margin-bottom: 2rem;
}

.mobile-bar{
    display: none;
}

/* Header section end*/

/* Jumbotron section */
.jumbotron{
    display: flex;
    background-color: #D8D8D8;

    padding: 2rem 1.5rem;
}
.jumbotron-img{

    width: 60%;
}
.jumbotron img{
    max-width: 100%;
}

.jumbotron-text{
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.jumbotron-text a{
    padding: 0.5rem 1rem;
    background-color: #4A4A4A;
    color: antiquewhite;

    text-align: center;
}
.jumbotron p{
    margin: 2rem 0;
    line-height: 1.5rem;
    font-weight: 600;
    font-size: 1.3rem;
}
/* End jumbotron section */



/* Post section */
.posts_section{
    background-color: #F3F5F5;
    display: flex;
    padding: 2rem 1.5rem;
}
.main_article{
    width: 60%;
}
.main_article img{
    max-width: 100%;
}
.main_article h2{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.main_article_text, .main_article_autor{

    margin-top: 1rem;
}
.posts{
    margin-left: 1.5rem;
    width: 40%;
}


.posts .post:last-child{
    background-color: #D8D8D8;
}
.posts .post:first-child{
    padding-top: 0;
}

.post{

    display: flex;
}
.post_image{
    width: 35%;
    margin: 1rem 1rem;
}

.post a{
    font-size: 0.82rem;
    font-weight: 600;
    color: cornflowerblue;
}

.post img{
    max-width: 100%;
}
.post_data{
    display: flex;
    width: 65%;
    flex-direction: column;
    justify-content: center;
}
.post_data p{
    margin: 0.5rem 0;
}


/* Post section end*/

/* Learning section */

.learning_section{
    padding: 2rem 4.5rem;
    background-color:#EAEBEC ;
}
.learning_section h2{
    text-align: center;
}
.learning_posts{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.learning_post{
    width: 30%;
    background-color: white;
    margin-bottom: 2rem;
}

.learning_post h2{

    text-align: left;
}

.learning_post img{
    max-width: 100%;
}
.learning_post p{
    margin: 0.5rem 0;
}
.learning_post_data{
    margin: 1rem 1rem 1rem ;
}

/* Learning section end*/

/* Thesis section*/
.thesis_section{
    background-color: #F3F5F5;
    padding-top: 2rem;

}


.thesis_content{
    display: flex;
    margin: 2rem 1.5rem ;
}


.thesis_video{
    width: 60%;

}
.thesis_video video{
    max-width: 100%;
    margin-bottom: 1.5rem;
}
.thesis_video h2{
    margin-bottom: 0.5rem;
}



/* Thesis section end*/


/* footer */
footer{
    display: flex;
    justify-content: space-between;
}
footer div{
    font-size: 0.7rem;
    margin: 1rem 1.5rem;
}

/* footer end*/




@media only screen and (max-width: 660px){
    /* Header  section*/
    .desktop{
        display: none;
    }
    .mobile-bar{

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 2rem;
    }


    /* Header section end*/


}