
.banner{
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
}